@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --color-gray-100: #E1E1E6;
  --color-green-900: #00291D;
  --color-gray-900: #121214;
}

@media (prefers-color-scheme: dark) {
  :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  -webkit-font-smoothing: antialiased;
}

