@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .time-picker-open {
    grid-template-columns: 1fr 280px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  .timer-picker-list-display {
    @media (max-width: 900px) {
      grid-template-columns: 2fr;
    }
  }

  .disabled-button {
    line-height: normal;
    
    &:disabled {
      cursor: default;
      opacity: 0.6;
      background: none;
    }

    &:not(:disabled):hover {
      background: #505059;
    }

    &:focus {
      box-shadow: 0 0 0 2px #E1E1E6;
    }
  }
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --color-gray-100: #E1E1E6;
  --color-green-900: #00291D;
  --color-gray-900: #121214;
}

@media (prefers-color-scheme: dark) {
  :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  -webkit-font-smoothing: antialiased;
}

